@model IEnumerable<EmployeeModel>
@{
    ViewData["Title"] = "Employee Details";
}

<p>
    <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Create">Create</a>
</p>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmpId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Domain)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Domain)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Edit" asp-route-partition="@item.Department" asp-route-id="@item.EmpId">Edit</a>
                        <a class="btn btn-outline-danger" asp-controller="Home" asp-action="Delete" asp-route-partition="@item.Department" asp-route-id="@item.EmpId">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>